/* Set base box-sizing */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Set base font */
body {
    font: 100% "Century Gothic", Futura, sans-serif;
}