/* Sass color variables */
$color-black:      #000000;
$color-white:      #ffffff;
$color-blue:       #165e67;
$color-orange:     #b35f3e;
$color-light-gray: #757575;
$color-dark-gray:  #444444;
$color-green:      #008000;
$color-red:        #E60000;

$color-link-text:  #0075bc; // #035d67;

$screen-width-md:  '576px';
$screen-width-lg:  '992px';