/* Sass variables */
$color-black:      #000000;
$color-white:      #ffffff;
$color-blue:       #165e67;
$color-red:        #E60000;
$color-red-orange: #c14e00;
$color-light-gray: #757575;
$color-dark-gray:  #696057;
$color-teal:       #035d67;
$color-green:      #69813c;


$color-link-text:  $color-red-orange;
$color-link-hover: $color-teal;

$screen-width-md:  576px;
$screen-width-lg:  992px;

$font-vollkorn:   "Vollkorn", Georgia, Times New Roman, serif;
$font-roboto:     "Roboto", sans-serif;