.DataTable {
    margin: 5px;
    overflow-x: auto;
}

.DataTable__QuestionLabel {
    margin: 1.25rem 0 .5rem 0;
    font-size: 1.25rem;
}

.DataTable__Wrap {
    display: inline-block;
    text-align: right;
}

.DataTable__CSVLink {
    display: inline-block;
    padding: 0 .2rem .2rem 0;
    font-size: 14px;
    color: $color-link-text;
    font-weight: 500;
    text-decoration: none;
    transition: color .15s ease-in-out;
}
.DataTable__CSVLink:hover {
    color: $color-red-orange;
    text-decoration: underline;
}

.DataTable__Table {
	font-size: .875rem;
    border:#e0e0e0 1px solid;
    border-collapse: collapse;
	max-width: 1400px;
}
.DataTable__Table thead th {
    font-weight: 700;
	max-width: 9rem;
	text-align: center;
	padding: 10px 5px 10px 5px; /* 21px 25px 22px 25px; */
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	vertical-align: bottom;
    background: #ededed;
}
.DataTable__Table tbody th {
    font-weight: 400;
    min-width: 6rem;
    max-width: 20rem;
	border-bottom: 1px solid #e0e0e0;
	vertical-align: top;
}
.DataTable__Table tbody th:first-child {
	text-align: left;
    padding: 5px;
}
.DataTable__Table tbody .rowgroup th {
	padding-top: 20px;
	font-weight: 700;
	border-bottom: 1px solid #e0e0e0;
}
.DataTable__Table td {
	padding: 5px;
	border-top: 1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	text-align: center;
	vertical-align: top;
}
.DataTable__Table tbody tr:hover th,
.DataTable__Table tbody tr:hover td {
	background: #dde2e5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#ffffff));
	background: -moz-linear-gradient(top,  #f0f0f0,  #ffffff);	
}