.FilterText {
    margin: 0;
    flex: 0 1 100%;
}

.FilterText__Input {
    width: 95%; // complements width of .FilterText__Clear
    padding: 3px 0 3px 10px;
    border: solid 1px #cccccc;
    border-radius: 0;
    vertical-align: bottom;
    height: 30px;
}

.FilterText__Clear {
    position: relative;
    float: right;
    cursor: pointer;
    top: -30px;
    margin-bottom: -30px;
    width: 9%; // complements width of .FilterText__Input
}

.FilterText__ClearX {
    color: hsl(0,0%,80%);
    display: inline-block;
    fill: currentColor;
    line-height: 1;
    stroke: currentColor;
    stroke-width: 0;
}

/* Medium+ screens */
@media all and (min-width: $screen-width-md) {
    .FilterText {
        max-width: 50%;
        flex: 1 1 auto;
        padding-left: 10px;
    }
}