.ResultTypeList > p {
    flex: 1 3 100%;
}

.ResultTypeList__Choices {
    margin-left: 10px;
    flex: 0 1 100%;
    display: flex;
    flex-flow: row wrap;
}

.ResultTypeList__Choice {
    padding: 2px 0;
    margin: 0;
    flex: 0 1 100%;
}

.ResultTypeList__Choice:focus,
.ResultTypeList__Choice:hover {
    cursor: pointer;
}

.ResultTypeList__Choice:hover::before {
    content: "\2611\00A0";
}

.ResultTypeList__Choice--checked {
    color: $color-green;
    font-weight: bold;
}

.ResultTypeList__Choice--checked::before {
    content: "\2611\00A0";
    display: inline-block;
    font-size: 125%;
}

.ResultTypeList__Choice--unchecked {
    color: $color-black;
}

.ResultTypeList__Choice--unchecked::before {
    content: "\2610\00A0";
    display: inline-block;
    font-size: 125%;
}