// sass color variables
$color-black:      #000000;
$color-white:      #ffffff;
$color-blue:       #165e67;
$color-orange:     #b35f3e;
$color-light-gray: #757575;
$color-dark-gray:  #444444;
$color-green:      #008000;
$color-red:        #E60000;

$color-link-text:  #035d67;

/* Set base box-sizing */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Set base font */
body {
    font: 100% "Century Gothic", Futura, sans-serif;
}

#databook {
    margin: 0 .5rem;
    padding: 0 0 3rem 0; /* additional space at bottom for iframe resizing */
}

/* Follow BEM naming approach */
.DataBook {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    background: $color-white;
}

.Intro {
    margin: 1rem 0;
}

.Intro__Title {
    font-size: 1.5rem;
    font-weight: bold;
    color: $color-blue;
}

.Intro__Subtitle {
    font-size: 1.2rem;
    font-weight: normal;
}

.SectionTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2.5rem 0 0 0;
}

.SectionTitle--first {
    margin-top: 1rem;
}

.SectionTitle__SelectionsNote {
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
    margin-left: 2rem;
}

.SectionTitle__SelectionsNote--no-selections {
    color: $color-orange;
}

.SectionTitle__SelectionsNote--no-selections::before {
    content: "\26A0\00A0";
    display: inline-block;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    color: $color-orange;
}

.SectionTitle__SelectionsNote--selections {
    color: $color-green;
}

.SectionTitle__SelectionsNote--selections::before {
    content: "\2713\00A0";
    display: inline-block;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    color: $color-green;
}

.SectionTitle__ScrollNote {
    margin: 0 0 0 2rem;
    display: inline-block;
    font-size: .825rem;
    font-weight: normal;
    font-style: italic;
}

.SectionTitle__Button {
    user-select: none;
    background-color: $color-white;
    border: 1px solid transparent;
    margin: 0 0 0 2rem;
    padding: 0;
    color: $color-link-text;
    font-size: .825rem;
    font-weight: 700;
    transition: color .15s ease-in-out;
    display: inline-block;
    cursor: pointer;
}

.SectionTitle__Button::after {
    content: "\21B4\00A0";
    display: inline-block;
    margin-left: .15rem;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    font-family: "Times", "Times New Roman", "serif", "sans-serif", "EmojiSymbols";
}

.SectionTitle__Button:hover {
    color: $color-orange;
    text-decoration: underline;
}

.ResultTypeList {
    /**/
}

.ResultTypeList > p {
    flex: 1 3 100%;
}

.ResultTypeList__Choices {
    margin-left: 10px;
    flex: 0 1 100%;
    display: flex;
    flex-flow: row wrap;
}

.ResultTypeList__Choice {
    padding: 2px 0;
    margin: 0;
    flex: 0 1 100%;
}

.ResultTypeList__Choice:focus,
.ResultTypeList__Choice:hover {
    cursor: pointer;
}

.ResultTypeList__Choice:hover::before {
    content: "\2611\00A0";
}

.ResultTypeList__Choice--checked {
    color: $color-green;
}

.ResultTypeList__Choice--checked::before {
    content: "\2611\00A0";
    display: inline-block;
    font-size: 125%;
}

.ResultTypeList__Choice--unchecked {
    color: $color-black;
}

.ResultTypeList__Choice--unchecked::before {
    content: "\2610\00A0";
    display: inline-block;
    font-size: 125%;
}

/* question select and list blocks */
.Questions {
    margin-left: 10px;
}

.QuestionFilters {
    display: flex;
    flex-flow: row wrap;
}

.TopicSelect {
    margin-right: 10px;
    background: $color-white;
    flex: 0 1 100%;
}

.FilterText {
    padding-left: 10px;
    margin: 0;
    background: $color-white;
    flex: 0 1 100%;
}

.FilterText__Input {
    width: 100%;
    padding: 8px;
    border: solid 1px #cccccc;
    border-radius: 4px;
    vertical-align: bottom;
    font-size: 100%;
    height: 2.5rem;
}

.FilterText__Clear {
    position: relative;
    float: right;
    padding: 10px 10px 0 0;
    cursor: pointer;
    top: -2.5rem;
    margin-bottom: -2.5rem;
}

.FilterText__ClearX {
    color: hsl(0,0%,80%);
    display: inline-block;
    fill: currentColor;
    line-height: 1;
    stroke: currentColor;
    stroke-width: 0;
}

.QuestionList {
    /**/
}

.QuestionList__Placeholder {
    color: $color-light-gray;
    font-style: italic;
    padding-top: 10px;
}

.TopicHeading {
    margin: 1.5rem 0 0 0;
    font-weight: 700;
    color: $color-dark-gray;
}

.Question__Choice {
    padding: 5px;
    margin: 0;
}

.Question__Choice:focus,
.Question__Choice:hover {
    cursor: pointer;
}

.Question__Choice:hover::before {
    content: "\2611\00A0";
}

.Question__Choice--checked {
    color: $color-green;
}

.Question__Choice--checked::before {
    content: "\2611\00A0";
    display: inline-block;
    font-size: 125%;
}

.Question__Choice--unchecked {
    color: $color-black;
}

.Question__Choice--unchecked::before {
    content: "\2610\00A0";
    display: inline-block;
    font-size: 125%;
}
.Question__Choice--no-data-warning {
    margin-left: 1rem;
    color: $color-red;
}

.DataTables {
    /* data table list block */
    margin: 10px;
}

.DataTables__Placeholder {
    color: $color-light-gray;
    padding: 15px 0;
    font-style: italic;
}

.DataTable {
    margin: 5px;
    overflow-x: auto;
}

.DataTable__QuestionLabel {
    margin: 1.25rem 0 .5rem 0;
    font-size: 1.25rem;
}

.DataTable__Wrap {
    display: inline-block;
    text-align: right;
}

.DataTable__CSVLink {
    display: inline-block;
    padding: 0 .2rem .2rem 0;
    font-size: 14px;
    color: $color-link-text;
    font-weight: 700;
    text-decoration: none;
    transition: color .15s ease-in-out;
}
.DataTable__CSVLink:hover {
    color: $color-orange;
    text-decoration: underline;
}

.table {
	font-family:Arial, Helvetica, sans-serif;
    color:#222222;
    text-align: left;
	font-size: 15px; /* 12px; */
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
    border:#ccc 1px solid;
    border-collapse: collapse;
	max-width: 1400px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
    /*
    -moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1; */
}
.table thead th {
    font-size: 15px; /* 12px; */
    font-weight: 700;
    max-width: 9rem;
	padding: 10px 5px 10px 5px; /* 21px 25px 22px 25px; */
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	vertical-align: bottom;
    background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.table tbody th {
    background: $color-white;
    font-weight: 400;
    min-width: 6rem;
    max-width: 20rem;
    border-bottom:1px solid #e0e0e0;
}
.table tbody .rowgroup th {
    padding-top: 20px;
    font-weight: 700;
	border-bottom:1px solid #e0e0e0;
}
.table th:first-child {
	text-align: left;
    padding-left: 5px; /* 20px; */
    padding-right: 5px;
}
.table tr:first-child th:first-child {
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
}
.table tr:first-child th:last-child {
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}
.table td:first-child {
	text-align: left;
	padding-left: 10px; /* 20px; */
	border-left: 0;
}
.table td {
	font-size: 15px; /* 12px; */
	padding: 5px 4px; /* 18px; */
	border-top: 1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	text-align: center;
	vertical-align: top;
/*
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
*/
	background: $color-white;
}
/* 'even' row & striped table options */
.table tr.even td,
.table.table-striped tbody tr:nth-child(2n+0) td {
/*
    background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
*/
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);

}
.table tr:last-child td {
	border-bottom:0;
}
.table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.table tr:hover th,
.table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

.SelectButtons {
    margin-bottom: .5rem;
}

.SelectButtons--questions {
    margin-bottom: -.5rem;
}

.SelectButtons_Button {
    user-select: none;
    background-color: $color-white;
    border: 1px solid transparent;
    margin: 0 1rem 0 0;
    padding: 0;
    color: $color-link-text;
    font-weight: 700;
    transition: color .15s ease-in-out;
    display: inline-block;
    cursor: pointer;
}
.SelectButtons_Button:hover {
    color: $color-orange;
    text-decoration: underline;
}

/* Medium+ screens */
@media all and (min-width: 600px) {
    .ResultTypeList__Choice {
        flex: 0 1 33.3%;
    }
    .QuestionFilters {
        flex-flow: row nowrap;
        max-width: 60rem;
    }
    .TopicSelect,
    .FilterText {
        max-width: 50%;
        flex: 1 1 auto;
    }
  }