body {
    font: 100% "Century Gothic", Futura, sans-serif;
    margin: 0;
    padding: 0;
}

/* Follow BEM naming approach */
.databook {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    background: #ffffff;
}

.databook__heading {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.databook__title {
    font-weight: bold;
}

.databook__intro {
    font-weight: normal;
}

.databook__instructions {
    font-weight: normal;
    font-size: 1rem;
    margin-top: .5rem;
}

.databook__selections,
.databook__results {
    display: flex;
    flex-direction: column;
}

.databook__topic-select {
    padding: 10px;
    margin: 0;
    background: #ffffff;
}

/*
.databook__topic {}
.databook__topic--checked {}
.databook__topic--unchecked {}
.databook__topiclist {}
*/

.databook__search-bar {
    padding: 10px;
    margin: 0;
    background: #ffffff;
}

.databook__search-field {
    width: 91%;
    padding: 8px;
    border: solid 1px #cccccc;
    border-radius: 4px;
    vertical-align: bottom;
    font-size: 100%;
}

.databook__search-clear {
    padding: 5px;
    border: solid 1px #cccccc;
    border-radius: 4px;
    vertical-align: super;
}

.databook__question-list {
    padding: 10px;
    margin: 30px 0;
    border: solid 1px #cccccc;
}

.databook__question {
    padding: 5px;
    margin: 5px;
}

.databook__question:focus,
.databook__question:hover {
    font-style: italic;
    border-color: red;
    cursor: pointer;
}

.databook__question--checked {
    color: green;
}

.databook__question--checked::before {
    content: "\2612\00A0";
    display: inline-block;
    font-size: 125%;
}

.databook__question--unchecked {
    color: #000;
}

.databook__question--unchecked::before {
    content: "\2610\00A0";
    display: inline-block;
    font-size: 125%;
}

.databook__resulttype-list {
    padding: 10px;
    margin: 0;
}

.databook__resulttype {
    padding: 5px;
    margin: 5px;
}

.databook__resulttype:focus,
.databook__resulttype:hover {
    font-style: italic;
    border-color: red;
    cursor: pointer;
}

.databook__resulttype--checked {
    color: green;
}

.databook__resulttype--checked::before {
    content: "\2612\00A0";
    display: inline-block;
    font-size: 125%;
}

.databook__resulttype--unchecked {
    color: #000;
}

.databook__resulttype--unchecked::before {
    content: "\2610\00A0";
    display: inline-block;
    font-size: 125%;
}

.databook__datatable-list {
    padding: 5px;
    margin: 5px;
}

.databook__datatable {
    border: 1px solid #999999;
    padding: 5px;
    margin: 5px;
}

/* don't override link styles
.databook__table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
.databook__table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.databook__table a:active,
.databook__table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
*/
.databook__table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:15px; /* 12px; */
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;
	
	max-width: 1400px;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
.databook__table th {
	font-size:15px; /* 12px; */
	padding:10px 12px 11px 12px; /* 21px 25px 22px 25px; */
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
	
	vertical-align: bottom;

    background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.databook__table th:first-child {
	text-align: left;
	padding-left:10px; /* 20px; */
}
.databook__table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.databook__table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.databook__table tr {
	text-align: center;
	padding-left:10px; /* 20px; */
}
.databook__table td:first-child {
	text-align: left;
	padding-left:10px; /* 20px; */
	border-left: 0;
}
.databook__table td {
	font-size:15px; /* 12px; */
	padding:10px; /* 18px; */
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	text-align: left;
	vertical-align: top;
/*
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
*/
	background: #ffffff;
}
/* 'even' row & striped table options */
.databook__table tr.even td,
.databook__table.table-striped tbody tr:nth-child(2n+0) td {
/*
    background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
*/
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);

}
.databook__table tr:last-child td {
	border-bottom:0;
}
.databook__table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.databook__table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
/*.databook__table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}*/
